.icon-accept { background: url('icons/accept.png') no-repeat !important ; }
.icon-add { background: url('icons/add.png') no-repeat !important ; }
.icon-arrow_down { background: url('icons/arrow_down.png') no-repeat !important ; }
.icon-arrow_left { background: url('icons/arrow_left.png') no-repeat !important ; }
.icon-arrow_right { background: url('icons/arrow_right.png') no-repeat !important ; }
.icon-arrow_up { background: url('icons/arrow_up.png') no-repeat !important ; }
.icon-back { background: url('icons/back.png') no-repeat !important ; }
.icon-bin { background: url('icons/bin.png') no-repeat !important ; }
.icon-bin_closed { background: url('icons/bin_closed.png') no-repeat !important ; }
.icon-bin_empty { background: url('icons/bin_empty.png') no-repeat !important ; }
.icon-book_edit { background: url('icons/book_edit.png') no-repeat !important ; }
.icon-cancel { background: url('icons/cancel.png') no-repeat !important ; }
.icon-chart_bar { background: url('icons/chart_bar.png') no-repeat !important ; }
.icon-chart_line { background: url('icons/chart_line.png') no-repeat !important ; }
.icon-chart_pie { background: url('icons/chart_pie.png') no-repeat !important ; }
.icon-config { background: url('icons/config.png') no-repeat !important ; }
.icon-config_edit { background: url('icons/config_edit.png') no-repeat !important ; }
.icon-cut { background: url('icons/cut.png') no-repeat !important ; }
.icon-cut_red { background: url('icons/cut_red.png') no-repeat !important ; }
.icon-delete { background: url('icons/delete.png') no-repeat !important ; }
.icon-door_in { background: url('icons/door_in.png') no-repeat !important ; }
.icon-door_out { background: url('icons/door_out.png') no-repeat !important ; }
.icon-edit { background: url('icons/edit.png') no-repeat !important ; }
.icon-email { background: url('icons/email.png') no-repeat !important ; }
.icon-email_add { background: url('icons/email_add.png') no-repeat !important ; }
.icon-email_attach { background: url('icons/email_attach.png') no-repeat !important ; }
.icon-email_delete { background: url('icons/email_delete.png') no-repeat !important ; }
.icon-email_edit { background: url('icons/email_edit.png') no-repeat !important ; }
.icon-email_error { background: url('icons/email_error.png') no-repeat !important ; }
.icon-email_go { background: url('icons/email_go.png') no-repeat !important ; }
.icon-email_link { background: url('icons/email_link.png') no-repeat !important ; }
.icon-email_open { background: url('icons/email_open.png') no-repeat !important ; }
.icon-email_open_image { background: url('icons/email_open_image.png') no-repeat !important ; }
.icon-error { background: url('icons/error.png') no-repeat !important ; }
.icon-exclamation { background: url('icons/exclamation.png') no-repeat !important ; }
.icon-find { background: url('icons/find.png') no-repeat !important ; }
.icon-flag_blue { background: url('icons/flag_blue.png') no-repeat !important ; }
.icon-flag_green { background: url('icons/flag_green.png') no-repeat !important ; }
.icon-flag_orange { background: url('icons/flag_orange.png') no-repeat !important ; }
.icon-flag_pink { background: url('icons/flag_pink.png') no-repeat !important ; }
.icon-flag_purple { background: url('icons/flag_purple.png') no-repeat !important ; }
.icon-flag_red { background: url('icons/flag_red.png') no-repeat !important ; }
.icon-flag_yellow { background: url('icons/flag_yellow.png') no-repeat !important ; }
.icon-folder { background: url('icons/folder.png') no-repeat !important ; }
.icon-folder_add { background: url('icons/folder_add.png') no-repeat !important ; }
.icon-folder_bell { background: url('icons/folder_bell.png') no-repeat !important ; }
.icon-folder_brick { background: url('icons/folder_brick.png') no-repeat !important ; }
.icon-folder_bug { background: url('icons/folder_bug.png') no-repeat !important ; }
.icon-folder_camera { background: url('icons/folder_camera.png') no-repeat !important ; }
.icon-folder_database { background: url('icons/folder_database.png') no-repeat !important ; }
.icon-folder_delete { background: url('icons/folder_delete.png') no-repeat !important ; }
.icon-folder_edit { background: url('icons/folder_edit.png') no-repeat !important ; }
.icon-folder_error { background: url('icons/folder_error.png') no-repeat !important ; }
.icon-folder_explore { background: url('icons/folder_explore.png') no-repeat !important ; }
.icon-folder_feed { background: url('icons/folder_feed.png') no-repeat !important ; }
.icon-folder_find { background: url('icons/folder_find.png') no-repeat !important ; }
.icon-folder_go { background: url('icons/folder_go.png') no-repeat !important ; }
.icon-folder_heart { background: url('icons/folder_heart.png') no-repeat !important ; }
.icon-folder_image { background: url('icons/folder_image.png') no-repeat !important ; }
.icon-folder_key { background: url('icons/folder_key.png') no-repeat !important ; }
.icon-folder_lightbulb { background: url('icons/folder_lightbulb.png') no-repeat !important ; }
.icon-folder_link { background: url('icons/folder_link.png') no-repeat !important ; }
.icon-folder_magnify { background: url('icons/folder_magnify.png') no-repeat !important ; }
.icon-folder_page { background: url('icons/folder_page.png') no-repeat !important ; }
.icon-folder_page_white { background: url('icons/folder_page_white.png') no-repeat !important ; }
.icon-folder_palette { background: url('icons/folder_palette.png') no-repeat !important ; }
.icon-folder_picture { background: url('icons/folder_picture.png') no-repeat !important ; }
.icon-folder_star { background: url('icons/folder_star.png') no-repeat !important ; }
.icon-folder_table { background: url('icons/folder_table.png') no-repeat !important ; }
.icon-folder_user { background: url('icons/folder_user.png') no-repeat !important ; }
.icon-folder_wrench { background: url('icons/folder_wrench.png') no-repeat !important ; }
.icon-form { background: url('icons/form.png') no-repeat !important ; }
.icon-form_add { background: url('icons/form_add.png') no-repeat !important ; }
.icon-form_delete { background: url('icons/form_delete.png') no-repeat !important ; }
.icon-form_edit { background: url('icons/form_edit.png') no-repeat !important ; }
.icon-form_magnify { background: url('icons/form_magnify.png') no-repeat !important ; }
.icon-form_view { background: url('icons/form_view.png') no-repeat !important ; }
.icon-grid { background: url('icons/grid.png') no-repeat !important ; }
.icon-group { background: url('icons/group.png') no-repeat !important ; }
.icon-group_add { background: url('icons/group_add.png') no-repeat !important ; }
.icon-group_delete { background: url('icons/group_delete.png') no-repeat !important ; }
.icon-group_edit { background: url('icons/group_edit.png') no-repeat !important ; }
.icon-group_error { background: url('icons/group_error.png') no-repeat !important ; }
.icon-group_gear { background: url('icons/group_gear.png') no-repeat !important ; }
.icon-group_go { background: url('icons/group_go.png') no-repeat !important ; }
.icon-group_key { background: url('icons/group_key.png') no-repeat !important ; }
.icon-group_link { background: url('icons/group_link.png') no-repeat !important ; }
.icon-heart { background: url('icons/heart.png') no-repeat !important ; }
.icon-heart_add { background: url('icons/heart_add.png') no-repeat !important ; }
.icon-heart_delete { background: url('icons/heart_delete.png') no-repeat !important ; }
.icon-help { background: url('icons/help.png') no-repeat !important ; }
.icon-image { background: url('icons/image.png') no-repeat !important ; }
.icon-images { background: url('icons/images.png') no-repeat !important ; }
.icon-image_add { background: url('icons/image_add.png') no-repeat !important ; }
.icon-image_delete { background: url('icons/image_delete.png') no-repeat !important ; }
.icon-image_edit { background: url('icons/image_edit.png') no-repeat !important ; }
.icon-image_link { background: url('icons/image_link.png') no-repeat !important ; }
.icon-import { background: url('icons/import.png') no-repeat !important ; }
.icon-improt { background: url('icons/improt.png') no-repeat !important ; }
.icon-key { background: url('icons/key.png') no-repeat !important ; }
.icon-key_add { background: url('icons/key_add.png') no-repeat !important ; }
.icon-key_delete { background: url('icons/key_delete.png') no-repeat !important ; }
.icon-key_go { background: url('icons/key_go.png') no-repeat !important ; }
.icon-lock { background: url('icons/lock.png') no-repeat !important ; }
.icon-lock_open { background: url('icons/lock_open.png') no-repeat !important ; }
.icon-mini_add { background: url('icons/mini_add.png') no-repeat !important ; }
.icon-mini_edit { background: url('icons/mini_edit.png') no-repeat !important ; }
.icon-mini_refresh { background: url('icons/mini_refresh.png') no-repeat !important ; }
.icon-mobile { background: url('icons/mobile.png') no-repeat !important ; }
.icon-more { background: url('icons/more.png') no-repeat !important ; }
.icon-ok { background: url('icons/ok.png') no-repeat !important ; }
.icon-package { background: url('icons/package.png') no-repeat !important ; }
.icon-package_add { background: url('icons/package_add.png') no-repeat !important ; }
.icon-package_delete { background: url('icons/package_delete.png') no-repeat !important ; }
.icon-package_go { background: url('icons/package_go.png') no-repeat !important ; }
.icon-package_green { background: url('icons/package_green.png') no-repeat !important ; }
.icon-package_link { background: url('icons/package_link.png') no-repeat !important ; }
.icon-page { background: url('icons/page.png') no-repeat !important ; }
.icon-page_add { background: url('icons/page_add.png') no-repeat !important ; }
.icon-page_attach { background: url('icons/page_attach.png') no-repeat !important ; }
.icon-page_code { background: url('icons/page_code.png') no-repeat !important ; }
.icon-page_copy { background: url('icons/page_copy.png') no-repeat !important ; }
.icon-page_delete { background: url('icons/page_delete.png') no-repeat !important ; }
.icon-page_edit { background: url('icons/page_edit.png') no-repeat !important ; }
.icon-page_error { background: url('icons/page_error.png') no-repeat !important ; }
.icon-page_excel { background: url('icons/page_excel.png') no-repeat !important ; }
.icon-page_find { background: url('icons/page_find.png') no-repeat !important ; }
.icon-page_gear { background: url('icons/page_gear.png') no-repeat !important ; }
.icon-page_go { background: url('icons/page_go.png') no-repeat !important ; }
.icon-page_green { background: url('icons/page_green.png') no-repeat !important ; }
.icon-page_key { background: url('icons/page_key.png') no-repeat !important ; }
.icon-page_lightning { background: url('icons/page_lightning.png') no-repeat !important ; }
.icon-page_link { background: url('icons/page_link.png') no-repeat !important ; }
.icon-page_paintbrush { background: url('icons/page_paintbrush.png') no-repeat !important ; }
.icon-page_paste { background: url('icons/page_paste.png') no-repeat !important ; }
.icon-page_red { background: url('icons/page_red.png') no-repeat !important ; }
.icon-page_refresh { background: url('icons/page_refresh.png') no-repeat !important ; }
.icon-page_save { background: url('icons/page_save.png') no-repeat !important ; }
.icon-page_white { background: url('icons/page_white.png') no-repeat !important ; }
.icon-page_white_acrobat { background: url('icons/page_white_acrobat.png') no-repeat !important ; }
.icon-page_white_actionscript { background: url('icons/page_white_actionscript.png') no-repeat !important ; }
.icon-page_white_add { background: url('icons/page_white_add.png') no-repeat !important ; }
.icon-page_white_c { background: url('icons/page_white_c.png') no-repeat !important ; }
.icon-page_white_camera { background: url('icons/page_white_camera.png') no-repeat !important ; }
.icon-page_white_cd { background: url('icons/page_white_cd.png') no-repeat !important ; }
.icon-page_white_code { background: url('icons/page_white_code.png') no-repeat !important ; }
.icon-page_white_code_red { background: url('icons/page_white_code_red.png') no-repeat !important ; }
.icon-page_white_coldfusion { background: url('icons/page_white_coldfusion.png') no-repeat !important ; }
.icon-page_white_compressed { background: url('icons/page_white_compressed.png') no-repeat !important ; }
.icon-page_white_copy { background: url('icons/page_white_copy.png') no-repeat !important ; }
.icon-page_white_cplusplus { background: url('icons/page_white_cplusplus.png') no-repeat !important ; }
.icon-page_white_csharp { background: url('icons/page_white_csharp.png') no-repeat !important ; }
.icon-page_white_cup { background: url('icons/page_white_cup.png') no-repeat !important ; }
.icon-page_white_database { background: url('icons/page_white_database.png') no-repeat !important ; }
.icon-page_white_delete { background: url('icons/page_white_delete.png') no-repeat !important ; }
.icon-page_white_dvd { background: url('icons/page_white_dvd.png') no-repeat !important ; }
.icon-page_white_edit { background: url('icons/page_white_edit.png') no-repeat !important ; }
.icon-page_white_error { background: url('icons/page_white_error.png') no-repeat !important ; }
.icon-page_white_excel { background: url('icons/page_white_excel.png') no-repeat !important ; }
.icon-page_white_find { background: url('icons/page_white_find.png') no-repeat !important ; }
.icon-page_white_flash { background: url('icons/page_white_flash.png') no-repeat !important ; }
.icon-page_white_freehand { background: url('icons/page_white_freehand.png') no-repeat !important ; }
.icon-page_white_gear { background: url('icons/page_white_gear.png') no-repeat !important ; }
.icon-page_white_get { background: url('icons/page_white_get.png') no-repeat !important ; }
.icon-page_white_go { background: url('icons/page_white_go.png') no-repeat !important ; }
.icon-page_white_h { background: url('icons/page_white_h.png') no-repeat !important ; }
.icon-page_white_horizontal { background: url('icons/page_white_horizontal.png') no-repeat !important ; }
.icon-page_white_key { background: url('icons/page_white_key.png') no-repeat !important ; }
.icon-page_white_lightning { background: url('icons/page_white_lightning.png') no-repeat !important ; }
.icon-page_white_link { background: url('icons/page_white_link.png') no-repeat !important ; }
.icon-page_white_magnify { background: url('icons/page_white_magnify.png') no-repeat !important ; }
.icon-page_white_medal { background: url('icons/page_white_medal.png') no-repeat !important ; }
.icon-page_white_office { background: url('icons/page_white_office.png') no-repeat !important ; }
.icon-page_white_paint { background: url('icons/page_white_paint.png') no-repeat !important ; }
.icon-page_white_paintbrush { background: url('icons/page_white_paintbrush.png') no-repeat !important ; }
.icon-page_white_paste { background: url('icons/page_white_paste.png') no-repeat !important ; }
.icon-page_white_php { background: url('icons/page_white_php.png') no-repeat !important ; }
.icon-page_white_picture { background: url('icons/page_white_picture.png') no-repeat !important ; }
.icon-page_white_powerpoint { background: url('icons/page_white_powerpoint.png') no-repeat !important ; }
.icon-page_white_put { background: url('icons/page_white_put.png') no-repeat !important ; }
.icon-page_white_ruby { background: url('icons/page_white_ruby.png') no-repeat !important ; }
.icon-page_white_stack { background: url('icons/page_white_stack.png') no-repeat !important ; }
.icon-page_white_star { background: url('icons/page_white_star.png') no-repeat !important ; }
.icon-page_white_swoosh { background: url('icons/page_white_swoosh.png') no-repeat !important ; }
.icon-page_white_text { background: url('icons/page_white_text.png') no-repeat !important ; }
.icon-page_white_text_width { background: url('icons/page_white_text_width.png') no-repeat !important ; }
.icon-page_white_tux { background: url('icons/page_white_tux.png') no-repeat !important ; }
.icon-page_white_vector { background: url('icons/page_white_vector.png') no-repeat !important ; }
.icon-page_white_visualstudio { background: url('icons/page_white_visualstudio.png') no-repeat !important ; }
.icon-page_white_width { background: url('icons/page_white_width.png') no-repeat !important ; }
.icon-page_white_word { background: url('icons/page_white_word.png') no-repeat !important ; }
.icon-page_white_world { background: url('icons/page_white_world.png') no-repeat !important ; }
.icon-page_white_wrench { background: url('icons/page_white_wrench.png') no-repeat !important ; }
.icon-page_white_zip { background: url('icons/page_white_zip.png') no-repeat !important ; }
.icon-page_word { background: url('icons/page_word.png') no-repeat !important ; }
.icon-page_world { background: url('icons/page_world.png') no-repeat !important ; }
.icon-paly { background: url('icons/paly.gif') no-repeat !important ; }
.icon-pencil { background: url('icons/pencil.png') no-repeat !important ; }
.icon-phone { background: url('icons/phone.png') no-repeat !important ; }
.icon-phone_add { background: url('icons/phone_add.png') no-repeat !important ; }
.icon-phone_delete { background: url('icons/phone_delete.png') no-repeat !important ; }
.icon-phone_sound { background: url('icons/phone_sound.png') no-repeat !important ; }
.icon-play { background: url('icons/play.png') no-repeat !important ; }
.icon-preview { background: url('icons/preview.png') no-repeat !important ; }
.icon-printer { background: url('icons/printer.png') no-repeat !important ; }
.icon-rainbow { background: url('icons/rainbow.png') no-repeat !important ; }
.icon-redo { background: url('icons/redo.png') no-repeat !important ; }
.icon-reload { background: url('icons/reload.png') no-repeat !important ; }
.icon-save { background: url('icons/save.png') no-repeat !important ; }
.icon-script { background: url('icons/script.png') no-repeat !important ; }
.icon-script_add { background: url('icons/script_add.png') no-repeat !important ; }
.icon-script_code { background: url('icons/script_code.png') no-repeat !important ; }
.icon-script_code_red { background: url('icons/script_code_red.png') no-repeat !important ; }
.icon-script_delete { background: url('icons/script_delete.png') no-repeat !important ; }
.icon-script_edit { background: url('icons/script_edit.png') no-repeat !important ; }
.icon-script_error { background: url('icons/script_error.png') no-repeat !important ; }
.icon-script_gear { background: url('icons/script_gear.png') no-repeat !important ; }
.icon-script_go { background: url('icons/script_go.png') no-repeat !important ; }
.icon-script_key { background: url('icons/script_key.png') no-repeat !important ; }
.icon-script_lightning { background: url('icons/script_lightning.png') no-repeat !important ; }
.icon-script_link { background: url('icons/script_link.png') no-repeat !important ; }
.icon-script_save { background: url('icons/script_save.png') no-repeat !important ; }
.icon-search { background: url('icons/search.png') no-repeat !important ; }
.icon-server { background: url('icons/server.png') no-repeat !important ; }
.icon-server_add { background: url('icons/server_add.png') no-repeat !important ; }
.icon-server_chart { background: url('icons/server_chart.png') no-repeat !important ; }
.icon-server_compressed { background: url('icons/server_compressed.png') no-repeat !important ; }
.icon-server_connect { background: url('icons/server_connect.png') no-repeat !important ; }
.icon-server_database { background: url('icons/server_database.png') no-repeat !important ; }
.icon-server_delete { background: url('icons/server_delete.png') no-repeat !important ; }
.icon-server_edit { background: url('icons/server_edit.png') no-repeat !important ; }
.icon-server_error { background: url('icons/server_error.png') no-repeat !important ; }
.icon-server_go { background: url('icons/server_go.png') no-repeat !important ; }
.icon-server_key { background: url('icons/server_key.png') no-repeat !important ; }
.icon-server_lightning { background: url('icons/server_lightning.png') no-repeat !important ; }
.icon-server_link { background: url('icons/server_link.png') no-repeat !important ; }
.icon-server_uncompressed { background: url('icons/server_uncompressed.png') no-repeat !important ; }
.icon-sort_asc { background: url('icons/sort_asc.gif') no-repeat !important ; }
.icon-sort_desc { background: url('icons/sort_desc.gif') no-repeat !important ; }
.icon-status_away { background: url('icons/status_away.png') no-repeat !important ; }
.icon-status_busy { background: url('icons/status_busy.png') no-repeat !important ; }
.icon-status_offline { background: url('icons/status_offline.png') no-repeat !important ; }
.icon-status_online { background: url('icons/status_online.png') no-repeat !important ; }
.icon-stop { background: url('icons/stop.png') no-repeat !important ; }
.icon-sum { background: url('icons/sum.png') no-repeat !important ; }
.icon-table { background: url('icons/table.png') no-repeat !important ; }
.icon-table_add { background: url('icons/table_add.png') no-repeat !important ; }
.icon-table_delete { background: url('icons/table_delete.png') no-repeat !important ; }
.icon-table_edit { background: url('icons/table_edit.png') no-repeat !important ; }
.icon-table_error { background: url('icons/table_error.png') no-repeat !important ; }
.icon-table_gear { background: url('icons/table_gear.png') no-repeat !important ; }
.icon-table_go { background: url('icons/table_go.png') no-repeat !important ; }
.icon-table_key { background: url('icons/table_key.png') no-repeat !important ; }
.icon-table_lightning { background: url('icons/table_lightning.png') no-repeat !important ; }
.icon-table_link { background: url('icons/table_link.png') no-repeat !important ; }
.icon-table_multiple { background: url('icons/table_multiple.png') no-repeat !important ; }
.icon-table_refresh { background: url('icons/table_refresh.png') no-repeat !important ; }
.icon-table_relationship { background: url('icons/table_relationship.png') no-repeat !important ; }
.icon-table_row_delete { background: url('icons/table_row_delete.png') no-repeat !important ; }
.icon-table_row_insert { background: url('icons/table_row_insert.png') no-repeat !important ; }
.icon-table_save { background: url('icons/table_save.png') no-repeat !important ; }
.icon-table_sort { background: url('icons/table_sort.png') no-repeat !important ; }
.icon-telephone { background: url('icons/telephone.png') no-repeat !important ; }
.icon-telephone_add { background: url('icons/telephone_add.png') no-repeat !important ; }
.icon-telephone_delete { background: url('icons/telephone_delete.png') no-repeat !important ; }
.icon-telephone_edit { background: url('icons/telephone_edit.png') no-repeat !important ; }
.icon-telephone_error { background: url('icons/telephone_error.png') no-repeat !important ; }
.icon-telephone_go { background: url('icons/telephone_go.png') no-repeat !important ; }
.icon-telephone_key { background: url('icons/telephone_key.png') no-repeat !important ; }
.icon-telephone_link { background: url('icons/telephone_link.png') no-repeat !important ; }
.icon-tickets { background: url('icons/tickets.png') no-repeat !important ; }
.icon-time { background: url('icons/time.png') no-repeat !important ; }
.icon-time_add { background: url('icons/time_add.png') no-repeat !important ; }
.icon-time_delete { background: url('icons/time_delete.png') no-repeat !important ; }
.icon-time_go { background: url('icons/time_go.png') no-repeat !important ; }
.icon-tip { background: url('icons/tip.png') no-repeat !important ; }
.icon-undo { background: url('icons/undo.png') no-repeat !important ; }
.icon-user { background: url('icons/user.png') no-repeat !important ; }
.icon-user_add { background: url('icons/user_add.png') no-repeat !important ; }
.icon-user_comment { background: url('icons/user_comment.png') no-repeat !important ; }
.icon-user_delete { background: url('icons/user_delete.png') no-repeat !important ; }
.icon-user_edit { background: url('icons/user_edit.png') no-repeat !important ; }
.icon-user_go { background: url('icons/user_go.png') no-repeat !important ; }
.icon-user_gray { background: url('icons/user_gray.png') no-repeat !important ; }
.icon-user_green { background: url('icons/user_green.png') no-repeat !important ; }
.icon-user_orange { background: url('icons/user_orange.png') no-repeat !important ; }
.icon-user_red { background: url('icons/user_red.png') no-repeat !important ; }
.icon-user_suit { background: url('icons/user_suit.png') no-repeat !important ; }
.icon-vcard { background: url('icons/vcard.png') no-repeat !important ; }
.icon-vcard_add { background: url('icons/vcard_add.png') no-repeat !important ; }
.icon-vcard_delete { background: url('icons/vcard_delete.png') no-repeat !important ; }
.icon-vcard_edit { background: url('icons/vcard_edit.png') no-repeat !important ; }
.icon-view { background: url('icons/view.png') no-repeat !important ; }
.icon-viewlist { background: url('icons/viewlist.png') no-repeat !important ; }
.icon-wrench { background: url('icons/wrench.png') no-repeat !important ; }
.icon-wrench_orange { background: url('icons/wrench_orange.png') no-repeat !important ; }
